parameters:
    level: 8
    paths:
        - src
    bootstrapFiles:
        - .bootstrap.php
    reportUnmatchedIgnoredErrors: false
    treatPhpDocTypesAsCertain: false
includes:
    - vendor/anzubko/swf-phpstan/swf.neon
