parameters:
    level: 8
    paths:
        - src
        - tests
        - vendor/anzubko
    bootstrapFiles:
        - .bootstrap.php
    reportUnmatchedIgnoredErrors: false
    treatPhpDocTypesAsCertain: false
    universalObjectCratesClasses:
        - App\Shared\Registry
