parameters:
    level: 8
    paths:
        - src
        - tests
    bootstrapFiles:
        - .bootstrap.php
    reportUnmatchedIgnoredErrors: false
    treatPhpDocTypesAsCertain: false
    universalObjectCratesClasses:
        - App\Shared\Registry
